<%- include("header"); -%>

<div class="box heading-box" id="heading">
  <h1>Todo list app</h1>
</div>

<div class="box">
  <p>Use this tool to create lists, add and remove items.</p>
</div>

<div class="box">
  <p>Enjoy!</p>
</div>

<div class="box">
    <p>This application was created by <a href="https://www.linkedin.com/in/mairi-saar/" target="_blank">Mairi Saar</a> at <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp" target="_blank">The Complete 2023 Web Development Bootcamp</a>.</p>
</div>



<%- include("footer"); -%>
