/*
#ECF0F1;

#060834;

#363FE7;
*/
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  min-height: 1000px;
  background-color: #ECF0F1;
}

h1, p, a, button, input[type="text"], footer, .nav, .nav-link, .dropdown-item {
  font-family: 'Arsenal', sans-serif;
  color: #060834;
}

h1, button {
  font-weight: 700;
}

footer, .nav, .nav-link, input[type="text"], p, a, .dropdown-button {
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav-link-group {
  position: static;
  visibility: visible;
  min-width: 20vw;
  margin-right: 10vh;
  display: flex;
  justify-content: space-between;
  transform: translateY(-1em);
  transition: initial;
}

.nav-link {
  position: relative;
  text-align: center;
  min-width: 120px;
  display: inline-block;
  list-style-type: none;
  margin: auto 12px;
  padding: 8px 20px;
  border-color: transparent;
  border-width: 1px;
  border-radius: 8px;
  background: #ECF0F1;
  box-shadow:  2px 2px 5px #c9cccd,
             -2px -2px 5px #ffffff;
  transition: all .2s ease-in;
}

li.nav-link {
  margin: 0 12px;
}

.nav-link:hover {
  border-radius: 8px;
  background: linear-gradient(145deg, #d4d8d9, #fdffff);
  box-shadow:  2px 2px 5px #c9cccd,
             -2px -2px 5px #ffffff;
}

.nav-link:active {
  border-radius: 8px;
  background: #ECF0F1;
  box-shadow: inset 2px 2px 5px #c9cccd,
              inset -2px -2px 5px #ffffff;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  background: #ECF0F1;
  box-shadow: 0 10px 10px -3px rgba(46, 41, 51, 0.08),
              0 4px 4px -2px rgba(71, 63, 79, 0.16);
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 99;
  min-width: 10rem;
  padding: 0;
  margin-top: 10px;
  height:0;
  overflow: hidden;
  text-align: left;
  transition: height ease 0.2s;
}

li:focus-within .dropdown {
  height: auto;
}

.nav-link:hover .dropdown {
  height: auto;
}

.dropdown-item {
  list-style-type: none;
  margin: 20px 20px;
  padding: 20px auto;
  cursor: pointer;
}

.dropdown-item:hover a, .dropdown-item:hover {
  color: #363FE7;
}

.dropdown-button {
  font-size: 1rem;
  outline: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 100%;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  transition: transform 100ms ease-in-out;
}

button:focus-within > .arrow {
  transform: rotate(-180deg);
}

button:hover > .arrow {
  transform: rotate(-180deg);
}


h1 {
  padding: 10px;
  font-size: 2.5rem;
}

.box {
  width: 420px;
  max-width: 60vw;
  margin: 50px auto;
}

.box-double {
  max-width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}

.content-group {
  min-width: 40%;
}

.heading-box {
  text-align: center;
}

a {
  text-decoration: none;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;

}

.item:not(.item-form) {
  margin: 8px auto;
  border-radius: 8px;
  background: #ECF0F1;
  box-shadow:  7px 7px 14px #c9cccd,
             -7px -7px 14px #ffffff;
}

.item:not(.item-form):hover {
  background: linear-gradient(145deg, #d4d8d9, #fdffff);
  box-shadow:  2px 2px 4px #c9cccd,
             -2px -2px 4px #ffffff;
}

.item:not(.item-form):active {
  background: #ECF0F1;
  box-shadow: inset 7px 7px 14px #c9cccd,
            inset -7px -7px 14px #ffffff;
}

.item-form{
  display: flex;
  justify-content: space-around;
  min-height: 140px;
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #060834;
}

input[type="checkbox"] {
  margin: 20px;
  accent-color: #060834;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 1.2rem;
}

form.item {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

button:not(.dropdown-button) {
  border-color: transparent;
  border-width: 1px;
  background: #ECF0F1;
  box-shadow:  5px 5px 10px #c9cccd,
             -5px -5px 10px #ffffff;
  transition: all .2s ease-in;
}

button.add {
  font-family: 'Roboto Mono', monospace;
  border-radius: 50%;
  font-size: 2rem;
  padding: 0;
  text-align: center;
  width:50px;
  height:50px;
}

button.create {
  height: 40px;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: 4px 20px;
}

button.add:hover {
  background: linear-gradient(145deg, #d4d8d9, #fdffff);
  box-shadow:  5px 5px 10px #c9cccd,
               -5px -5px 10px #ffffff;

}

button.create:hover {
  background: linear-gradient(145deg, #d4d8d9, #fdffff);
  box-shadow:  4px 4px 8px #c9cccd,
               -4px -4px 8px #ffffff;

}

button.add:active {
  background: #ECF0F1;
  box-shadow: inset 5px 5px 10px #c9cccd,
              inset -5px -5px 10px #ffffff;
}

button.create:active {
  background: #ECF0F1;
  box-shadow: inset 4px 4px 8px #c9cccd,
              inset -4px -4px 8px #ffffff;
}

input[type="text"] {
  height: 60px;
  top: 10px;
  border: 1px;
  width: 260px;
  padding: 0 0 0 20px;
  font-size: 1.6rem;
  border-radius: 8px;
  background: #ECF0F1;
  box-shadow: inset 6px 6px 12px #c9cccd,
            inset -6px -6px 12px #ffffff;
}

input[type="text"]:focus {
  outline: none;
  background: #ECF0F1;
  box-shadow: inset -6px -6px 12px #afb2b2,
              inset 6px 6px 12px #ffffff;
}

::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: #060834;
  opacity: 0.8;
}

footer {
  margin: 20vh auto;
  opacity: 0.6;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  font-weight: 700;
}

ul {
  padding-inline-start: 0;
}

p a {
  font-weight: 700;
}

@media only screen and (min-width: 1261px) {
  .box-double{
    max-width: 75%;
  }
}

@media only screen and (min-width: 1091px) and (max-width: 1260px){

  .box-double{
    max-width: 80%;
  }

  .content-group{
    max-width: 50%;
  }
}

@media only screen and (max-width: 1090px) and (min-width: 701px){

  .box-double {
    flex-direction: column-reverse;
  }

  .content-group {
    min-width: 40%;
  }

  .nav {
    justify-content: center;
  }

  .nav-link-group{
    margin-right: 0;
  }

  footer {
    margin: 5vh auto;
  }

}

@media only screen and (max-width: 700px) {

  .box-double {
    flex-direction: column-reverse;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 0 0;
  }

  .content-group {
    margin-top: 40px;
  }

  .box {
    max-width: 90%;
    margin: 20px auto;
  }

  .nav {
    justify-content: center;
  }

  .nav-link-group {
    justify-content: center;
    margin-right: 0;
  }

  .nav-link {
    text-align: center;
    margin: 2px;
    padding: 8px 2px;
    min-width: 100px;
  }

  h1 {
    font-size: 2rem;
  }

  .item-form{
    display: flex;
    flex-direction: column;
    min-height: 180px;
  }

  form.item {
    margin-left: 0px;
  }

  input[type="text"] {
    height: 60px;
    font-size: 1.6rem;
    width: 90%;
    margin-top: 20px;
  }

  button {
    align-self: flex-end;
    margin-right: 5%;
  }

  footer {
    margin: 5vh auto;
  }

}
